---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h2 class="text-3xl font-bold text-blue-600 mb-4">¡Hola mundo con Tailwind!</h2>
	<p class="text-lg">Ahora Tailwind está funcionando dentro de tu layout.</p>
</Layout>
