---
import "../styles/global.css";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Stats from '../components/Stats.astro';
import Services from '../components/Services.astro';
import portada from '../assets/images/portada.jpg';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | TSI Grupo</title>
  </head>
  <body class="bg-white text-gray-900 min-h-screen flex flex-col">
    <Header currentPath="/" />

    <main class="flex-1">
      <Hero 
        image={portada} 
        height="65vh"
        title="Imagen Corporativa"
        subtitle="M치s de 30 a침os acompa침ando a grandes empresas en sus proyectos de comunicaci칩n visual y cambio continuo. Experiencia, conocimiento y entusiasmo."
      />

      <Stats />

      <Services />
    </main>

    <Footer />
  </body>
</html>
