---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="bg-gray-50 text-gray-900">
		<header class="p-4 bg-blue-600 text-white">
			<h1 class="text-xl font-bold">Mi sitio con Astro + Tailwind</h1>
		</header>

		<main class="p-6">
			<slot />
		</main>

		<footer class="p-4 bg-gray-200 text-center">
			<p class="text-sm">© 2025 - Creado con Astro</p>
		</footer>
	</body>
</html>
